/* Check feltet rundt om kuglen*/

.check {
  position: relative;
  display: block;
  width: 40px;
  height: 20px;
  background: #0f0563;
  cursor: pointer;
  border-radius: 20px;
  overflow: hidden;
  transition: ease-in 0.5s;
  margin-left: 1em;
}
input {
  display: none;
}

/* hvilken vej på x-aksen at kuglen bevæger sig*/

input:checked~.check::before {
  transform: translateX(50px);
}

/* før at input boksen er blevet checket af,er farven på den runde kugle hvid*/

.check::before {
  /* content:""; = skaber indhold inde i span, som kan styles*/
  /* kan kun bruges med pseudo elements before and after*/
  content: "";
  position: absolute;
  top: 2px;
  left: 2px;
  background: #fff;
  width: 16px;
  height: 16px;
  border-radius: 50%;
  transition: 0.5s;
}

/* efter at input boksen er blevet checket af, skifter farven på den runde kugle til blå*/

.check::after {
  content: "";
  position: absolute;
  top: 2px;
  left: 2px;
  background: #20123a;
  width: 16px;
  height: 16px;
  border-radius: 50%;
  transition: 0.5s;
  transform: translateX(-50px);
}

/* hvilken vej på x-aksen at kuglen bevæger sig*/

input:checked~.check::after {
  transform: translateX(0px);
}