body {
  font-family: 'Inter', sans-serif;
}

/* ──────────────────────────────────────────────────────────────────────────────── */

header {
  display: grid;
  grid-template-columns: 4fr 1fr;
}
.link-logo {
  place-self: center;
  grid-column: 1/2;
}
.github-codepen-linkedin {
  place-self: center;
  font-size: 40px;
  border-radius: 70% 30% 30% 70% / 60% 40% 60% 40%;
  background: linear-gradient(#09204d, #010817);
  padding: 2em;
}
.linkedin, .github, .codepen {
  color: #fff;
}